{% extends "main/base.html" %}

{% load static %}
{% block title %} Projects {% endblock %}


{% block content %}


<body style="margin: 200px;">

    <h1>Projects List</h1>
    <table class="table" id="dataTable" style = ' width: 100% auto; margin-bottom: 50px;'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>GitHub Link</th>
                <th>File</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td><a href="{{ project.github_link }}"><img src="{% static 'images/github.png' %}" alt="github" style="width: 25px; height: 25px"></a></td>
                <td><a Download href="{{ project.project_file }}"><img src="{% static 'images/folder.png' %}" alt="folder" style="width: 25px; height: 25px"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

</body>

{% endblock %}

{% block footer %}
<footer >
</footer>
{% endblock %}