{% extends "main/base.html" %}

{% block title %}
 HOME
{% endblock %}

{% load static %}
{% block content %}


    
<div class="" style="margin: 12rem; width: 20rem;">
  <div class="card-body">
    
    <h5 class="card-title text-white h1"> I<span>'</span>M </h5>
    <p class="text-white h1"><span>Abdullah ALAtiq</span></p>
    <a href="" class="btn btn-success">Download CV</a>
  </div>
</div>

 



<div class="d-flxe flex-column flex-wrap justify-content-center p-5 bg-dark">
  <div class="row text-center py-5 ">
    <div class="col-md-3 col-sm-6 mb-4 ">
      <div class="card shadow-sm">
        <img src="{% static 'images/icon1.png' %}" alt="icon1" class="card-img-top" style="width: 50px; height: 50px; margin: 0 auto;">
        <div class="card-body">
          <h5 class="card-title">Dedication</h5><hr>
          <p class="card-text"  style="text-align: left;">I am a dedicated individual committed to the highest quality standards in everything I do. I work diligently and persistently to achieve objectives and put forth my best effort to deliver outstanding results, even in the face of challenges.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 mt-5">
      <div class="card shadow-sm">
        <img src="{% static 'images/icon2.png' %}" alt="icon2" class="card-img-top" style="width: 50px; height: 50px; margin: 0 auto;">
        <div class="card-body">
          <h5 class="card-title">Problem Solving</h5><hr>
          <p class="card-text"  style="text-align: left;">I have the ability to analyze complex problems and identify effective solutions using critical and creative thinking. I approach challenges calmly and always look for innovative and swift solutions that contribute to overall performance improvement.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card shadow-sm">
        <img src="{% static 'images/icon3.png' %}" alt="icon3" class="card-img-top" style="width: 50px; height: 50px; margin: 0 auto;">
        <div class="card-body">
          <h5 class="card-title">Collaboration</h5><hr>
          <p class="card-text"  style="text-align: left;">I possess strong collaboration skills and believe that exchanging ideas and expertise within a team enhances creativity and achieves better results. I work effectively with colleagues to achieve common goals in a spirit of cooperation and mutual respect.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 mt-5">
      <div class="card shadow-sm">
        <img src="{% static 'images/icon4.png' %}" alt="icon4" class="card-img-top" style="width: 50px; height: 50px; margin: 0 auto;">
        <div class="card-body">
          <h5 class="card-title">Technology</h5><hr>
          <p class="card-text"  style="text-align: left;">I am a dedicated individual committed to the highest quality standards in everything I do. I work diligently and persistently to achieve objectives and put forth my best effort to deliver outstanding results, even in the face of challenges.</p>
        </div>
      </div>
    </div>
  </div>
</div>



 
<div class="container">
  <div class="row align-items-center d-flex justify-content-center mt-5">
    <div class="col-sm-6">
    img
    </div>
    <div class="col-sm-6">
    <h1>Profile</h1></a><hr>
      <p class="fs-5">
        An Information System looking to work in an environment that promotes self
        and professionaldevelopment and to utilize my abilities to contribute towards
          the organization's growth andachievement.
      </p>
    </div>
  </div>
<div>


{% endblock %}
